@(modalId: String)(header: Html)(body: Html)(footer: Html = Html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">Close</button>"))

<div class="modal fade" id="@modalId" role="dialog" aria-labelledby="@{modalId}Label">
    <div class="modal-dialog" role="document">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @header
            </div>
            <div class="modal-body">
                @body
            </div>
            <div class="modal-footer">
                @footer
            </div>
        </div>

    </div>
</div>