@import components._

@(message: String)

@main(buildinfo.BuildInfo.name){
    <script type="text/javascript">
            SystemJS.import("@routes.Assets.at("javascripts/index.js")");
    </script>
} {

    <div><p>@message</p></div>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createConsole">Create Console</button>
    <a href="#createConsole" role="button" data-toggle="modal">Test</a>

    <div class="progress">
        <div class="progress-bar" id="progBar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60" style="width: 100%;">
            60min
        </div>
    </div>

    @modals.createConsole()

}
